<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/head %>
</head>
<body class='container-fluid'>
  <header>
    <nav class='navbar navbar-fixed-top navbar-light bg-faded'>
      <div class='nav navbar-nav'>
        <a class='navbar-brand' href='/'>DynamoDB Admin</a>
        <a class='nav-item nav-link' href='/'>
          Tables
        </a>
      </div>
      <% include ./partials/right-nav %>
    </nav>

    <ol class='breadcrumb'>
      <a class='breadcrumb-item' href='/'>Home</a>
      <a class='breadcrumb-item' href='/tables/<%= TableName %>'>
        <%= TableName %>
      </a>
      <% if (Item.id) { %>
        <span class='breadcrumb-item'>
          <%= Item.id %>
        </span>
      <% } %>
    </ol>
  </header>

  <main>
    <nav>
      <script>
      function handleEditClick () {
        const textarea = document.getElementById('documentTextarea')
        const saveButton = document.getElementById('saveButton')

        fetch(document.location.pathname, {
          method: 'put',
          headers: {
            'Content-Type': 'application/json'
          },
          body: document.getElementById('documentTextarea').value
        }).then((response) => {
          if (response.ok) {
            return response.json()
          } else {
            throw new Error()
          }
        }).then((json) => {
          textarea.value = JSON.stringify(json, null, 2)
          textarea.focus()
          saveButton.classList.remove('btn-primary')
          saveButton.classList.add('btn-success')
          setTimeout(() => {
            saveButton.classList.add('btn-primary')
            saveButton.classList.remove('btn-success')
          }, 2000)
        }).catch((error) => {
          textarea.focus()
          saveButton.classList.remove('btn-primary')
          saveButton.classList.add('btn-warning')
          setTimeout(() => {
            saveButton.classList.add('btn-primary')
            saveButton.classList.remove('btn-warning')
          }, 2000)
          console.error(error)
        })
      }
      </script>
      <button
        class='btn btn-primary'
        id='saveButton'
        onclick='handleEditClick()'
        type='button'
      >
        Save
      </button>

      <script>
      function handleDeleteClick (event) {
        event.preventDefault()
        const result = window.confirm('Are you sure you want to delete this document?')
        if (!result) {
          return false
        }
        fetch(document.location.pathname, {
          method: 'delete'
        }).then((response) => {
          if (response.ok) {
            window.location = `/tables/<%= TableName %>`
          }
        }).catch((error) => {
          console.error(error)
          alert('There was an error.')
        })
      }
      </script>
      <button
        class='btn btn-danger'
        onclick='handleDeleteClick(event)'
        type='button'
      >
        Delete
      </button>
    </nav>
    <article
      style='margin-top: 16px;'
    >
      <textarea
        autocapitalize='off'
        autocorrect='off'
        autofocus
        spellcheck='false'
        id='documentTextarea'
        onKeyUp='setTextareaHeight()'
        style='width: 100%; border: 0 none; outline: none;'
      ><%= JSON.stringify(Item, null, 2) %></textarea>
      <script>
      function setTextareaHeight (fieldId){
        const textarea = document.getElementById('documentTextarea')
        textarea.style.height = `${textarea.scrollHeight + 100}px`
      }
      setTextareaHeight()
      </script>
    </article>
  </main>
</body>
</html>
