<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/head %>
</head>
<body class='container-fluid'>
  <header>
    <ol class='breadcrumb'>
      <a class='breadcrumb-item' href='/'>Tables</a>
      <a class='breadcrumb-item active'><%= Table.TableName %></a>
    </ol>

    <ul class='nav nav-tabs'>
      <li class='nav-item'>
        <a class='nav-link' href='/tables/<%= Table.TableName %>'>
          Scan (<%= Table.ItemCount %>)
        </a>
      </li><li class="nav-item">
        <a class="nav-link" href="/tables/<%= Table.TableName %>/get">
          Get
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link active' href='/tables/<%= Table.TableName %>/meta'>Meta</a>
      </li>
    </ul>
  </header>

  <main>
    <div style="margin-top: 16px; margin-bottom: 16px;">
      <pre><%= JSON.stringify(Table, null, 2) %></pre>
    </div>
    <div style="margin-bottom: 16px;">
      <button id="deleteTable" type="button" class="btn btn-danger">Delete table</button>
      <script>
      document.querySelector('#deleteTable').addEventListener('click', () => {
        fetch('/tables/<%= Table.TableName %>', {
          method: 'delete'
        }).then((response) => {
          if (!response.ok) {
            throw new Error
          }
          window.location.href = '/'
        }).catch(() => {
          window.alert('There was an error when attempting to delete the table.')
        })
      })
      </script>
    </div>
  </main>
</body>
</html>
