<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
  <% include ./partials/bootstrap-deps %>
</head>
<body class="container-fluid">
  <header>
    <ol class="breadcrumb">
      <a class="breadcrumb-item" href="/">Tables</a>
      <a class="breadcrumb-item active"><%= Table.TableName %></a>
    </ol>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/tables/<%= Table.TableName %>">
          Scan (<%= Table.ItemCount %>)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tables/<%= Table.TableName %>/get">
          Get
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tables/<%= Table.TableName %>/meta">Meta</a>
      </li>
      <li class="nav-item ml-auto">
        <a href="/tables/<%= Table.TableName %>/add-item" class="nav-link">Create item</a>
      </li>
    </ul>
  </header>

  <main>
    <form
      autocomplete="off"
      action="/tables/<%= Table.TableName %>"
      method="get"
      style="padding-top: 20px;padding-bottom: 20px;"
      id="form"
    >
      <datalist id="attributes">
        <% for (let AttributeDefinition of Table.AttributeDefinitions) { %>
          <option value="<%= AttributeDefinition.AttributeName %>" />
        <% } %>
      </datalist>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Filter</th>
            <td>
              <table class="table table-bordered">
                <tbody>
                  <% for (let filterKey in filters) { %>
                    <tr>
                      <td style="width: 95px;">
                        <button type="button" onclick="removeFilter(this)" class='btn btn-danger'>Remove</button>
                      </td>
                      <td
                        style="width: 300px"
                      >
                        <input
                          data-filter-key
                          type="text"
                          class="form-control"
                          readonly
                          value="<%= filterKey %>"
                        />
                      </td>
                      <td>
                        <select class="form-control" readonly>
                          <option>=</option>
                        </select>
                      </td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Value"
                          name="<%= filterKey %>"
                          value="<%= filters[filterKey] %>"
                        />
                      </td>
                    </tr>
                  <% } %>
                  <tr>
                    <td style="width: 95px;"></td>
                    <td style="width: 300px">
                      <input
                        data-filter-key
                        type="text"
                        class="form-control"
                        id="key"
                        placeholder="Key"
                        list="attributes"
                      />
                    </td>
                    <td>
                      <select class="form-control" readonly>
                        <option>=</option>
                      </select>
                    </td>
                    <td>
                      <input id="value" type="text" class="form-control" placeholder="Value" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <input id="param" type="hidden" />

      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary">Scan</button>
        </div>

      <div class="col-md-6">

          <nav style="float: right">
            <ul class="pagination" style="margin: 0">
              <% if (nextKey) { %>
                 <li class="page-item"><a class="page-link" href="?startKey=<%= nextKey %>&pageNum=<%= pageNum+1 %>&<%= filterQueryString %>">Next Page</a></li>
              <% } %>
            </ul>
         </nav>

         <div style="float: right; line-height: 48px; text-align:right; margin-right: 20px">Page <%= pageNum %> </div>
      </div>
    </div>





    </form>
    <script>
    const form = document.querySelector('#form')
    form.addEventListener('submit', (event) => {
      form.param.setAttribute('name', form.key.value)
      form.param.value = form.value.value
    })
    function removeFilter (node) {
      node.closest('tr').remove()
    }
    </script>

    <% const primaryKeys = Items[0] !== undefined ? Object.keys(Items[0].__key): [] %>
    <% const ignored = ['__key'].concat(primaryKeys) %>
    <table class="table">
      <thead>
      <tr>
        <td>Actions</td>
          <% for(const primaryKey of primaryKeys) { %>
            <td><%= primaryKey %></td>
          <% } %>
          <% for(const key of UniqueKeys) { %>
              <% if (!ignored.includes(key)) { %>
                <td><%= key %></td>
              <% } %>
          <% } %>
      </tr>
      </thead>
      <tbody>
      <% for(const item of Items) { %>
      <tr>
        <td>
          <a href="/tables/<%= Table.TableName %>/items/<%= encodeURIComponent(Object.values(item.__key).join(',')) %>">View</a>
        </td>
        <% for(const primaryKey of primaryKeys) { %>
          <td><%= item[primaryKey] %></td>
        <% } %>
        <% for(const column of UniqueKeys) { %>
          <% if (!ignored.includes(column)) { %>
            <td>
              <% const value = item[column];
              if (Number.isInteger(value) && value >= 0) {
                let dateValue;
                try {
                  dateValue = new Date(value).toISOString();
                } catch (error) {
                  dateValue = error.message;
                } %>
                <abbr data-toggle="tooltip" data-placement="top"
                    title="<%= dateValue %>">
                  <%= item[column] %>
                </abbr>
              <% } else { %>
                <%= item[column] %>
              <% } %>
            </td>
          <% } %>
        <% } %>
      </tr>
      <% } %>
      </tbody>
    </table>
  </main>
</body>
</html>
