<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body class="container-fluid">
  <header>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <div class="nav navbar-nav">
        <a class="navbar-brand" href="/">DynamoDB Admin</a>
        <a class="nav-item nav-link" href="/">
          Tables
        </a>
      </div>
      <% include ./partials/right-nav %>
    </nav>

    <ol class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <a class="breadcrumb-item active"><%= Table.TableName %></a>
    </ol>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/tables/<%= Table.TableName %>">
          Items (<%= Table.ItemCount %>)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tables/<%= Table.TableName %>/meta">Meta</a>
      </li>
      <li class="nav-item pull-xs-right">
        <a href="/tables/<%= Table.TableName %>/add-item" class="nav-link">Create item</a>
      </li>
    </ul>
  </header>

  <main>
    <table class="table">
      <tbody>
        <% for(var i = 0; i < Items.length; i++) { %>
          <tr>
            <th scope="row" style="font-size: 0.85rem;">
              <a href="/tables/<%= Table.TableName %>/items/<%= encodeURIComponent(Object.values(Items[i].__key).join(",")) %>">
                <pre><%= JSON.stringify(Items[i].__key, null, 2) %></pre>
              </a>
            </th>
            <td><pre><%= JSON.stringify(Object.assign({}, Items[i], {__key: undefined}), null, 2) %></pre></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
</body>
</html>
